html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}

/* Typography */
h1,
h2,
h3,
h4 {
    font-family: $bellefair;
    font-weight: 400;
    color: $white;
}

h5 {
    font-family: $barlow;
    color: $white;
}

p {
    font-family: $barlow;
    font-weight: 400;
    font-size: rem(15);
    line-height: rem(25);
    color: $purple;

    @include breakpoint(tabletXs) {
        font-size: rem(16);
    }
}

a {
    font-family: $barlow-condensed;
    font-size: rem(16);
    text-decoration: none;
    letter-spacing: 2.7px;
    color: $white;
}

button {
    font-family: $barlow-condensed;
    font-size: rem(14);
    background-color: transparent;
    color: $white;
    letter-spacing: 2.36px;
}

h1 {
    font-size: rem(80);

    @include breakpoint(tabletXs) {
        font-size: rem(150);
    }
}

h2 {
    font-size: rem(100);
}

h3 {
    font-size: rem(56);
}

h4 {
    font-size: rem(32);
}

h5 {
    font-size: rem(28);
    letter-spacing: 4.75;
}

/* Custom default styles */
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

input,
button {
    outline: none;
    border: none;
}

/* Utility classes */
.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #383b4b;
    margin: rem(32) 0;
}
