.container {
    display: flex;
    flex-direction: column;
    padding: rem(24);
    min-height: 100vh;
    background-color: $black;

    @include breakpoint(tabletXs) {
        padding: 0 rem(40) rem(62);
    }

    @include breakpoint(desktopXs) {
        padding: 0 rem(55) rem(62);
    }
}

.flex_wrapper {
    padding-top: rem(48);
    flex: 1;
    justify-content: center;
}

.text_wrapper {
    text-align: center;
    color: $white;
    max-width: rem(444);
    margin: 0 auto rem(81);

    @include breakpoint(desktopXs) {
        text-align: left;
    }
}

.subheading {
    font-family: $barlow-condensed;
    font-size: rem(16);
    letter-spacing: 2.7px;

    @include breakpoint(tabletXs) {
        font-size: rem(20);
    }

    @include breakpoint(desktopXs) {
        font-size: rem(28);
    }
}

.heading {
    margin: rem(16) 0;

    @include breakpoint(desktopXs) {
        margin: rem(24) 0;
    }
}

.desc {
    line-height: rem(25);

    @include breakpoint(desktopXs) {
        line-height: rem(32);
    }
}

.desc,
.subheading {
    color: $purple;
}

.button_wrapper {
    margin: 0 auto;
}
