.container {
    display: flex;
    flex-direction: column;
    padding: rem(24);
    min-height: 100vh;
}

.flex_wrapper {
    padding-top: rem(48);
    flex: 1;
    justify-content: center;
}

.text_wrapper {
    text-align: center;
    color: $white;
    margin-bottom: rem(81);
}

.subheading {
    font-family: $barlow-condensed;
    font-size: rem(16);
    letter-spacing: 2.7px;
}

.heading {
    margin: rem(16) 0;
}

.desc {
    line-height: rem(25);
}

.desc,
.subheading {
    color: $purple;
}

.button_wrapper {
    margin: 0 auto;
}
