.page-title {
    font-family: $barlow-condensed;
    font-size: rem(16);
    color: $white;
    letter-spacing: 2.7px;
    text-align: center;
    text-transform: uppercase;
    margin: rem(24) 0 rem(32);
    position: relative;
    z-index: 1;

    span {
        font-weight: 700;
        opacity: 0.25;
        margin-right: rem(18);
    }

    @include breakpoint(tabletXs) {
        font-size: rem(20);
        text-align: left;
        margin-top: rem(40);
        margin-bottom: rem(60);
    }

    @include breakpoint(desktopXs) {
        font-size: rem(28);
        margin-top: rem(76);
        margin-bottom: rem(26);
    }
}
