.image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;

    @include breakpoint(tabletXs) {
        height: rem(310);
    }
}

.selection {
    display: flex;
    justify-content: center;
    margin: rem(34) 0 rem(26);

    @include breakpoint(tabletXs) {
        margin: rem(56) 0 rem(44);
    }
}

.button {
    font-family: $bellefair;
    width: rem(40);
    height: rem(40);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding-left: 4px;

    &:not(:last-child) {
        margin-right: rem(16);
    }

    @include breakpoint(tabletXs) {
        width: rem(58);
        height: rem(58);
        font-size: rem(24);
    }
}

.buttonActive {
    background-color: $white;
    color: $black;
}

.contentWrapper {
    text-align: center;
    max-width: rem(458);
    margin: 0 auto;
}

.titleWrapper {
    margin-bottom: rem(16);
}

.dataLabel {
    font-family: $barlow-condensed;
    font-size: rem(14);
    letter-spacing: 2.36px;
    margin-bottom: rem(8);
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(16);
    }
}

.data {
    font-size: rem(24);
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(40);
    }
}
