.flexWrapper {
    @include breakpoint(desktopXs) {
        flex-direction: row-reverse !important;
    }
}

.image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;

    @include breakpoint(tabletXs) {
        height: rem(310);
    }

    @include breakpoint(desktopXs) {
        left: unset;
        right: rem(-62);
        min-width: unset;
        transform: none;

        width: rem(515);
        height: rem(527);
    }
}

.selection {
    display: flex;
    justify-content: center;
    margin: rem(34) 0 rem(26);

    @include breakpoint(tabletXs) {
        margin: rem(56) 0 rem(44);
    }

    @include breakpoint(desktopXs) {
        flex-direction: column;
        margin-right: rem(40);
    }
}

.button {
    font-family: $bellefair;
    width: rem(40);
    height: rem(40);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding-left: 4px;

    &:not(:last-child) {
        margin-right: rem(16);
    }

    @include breakpoint(tabletXs) {
        width: rem(58);
        height: rem(58);
        font-size: rem(24);
    }

    @include breakpoint(desktopXs) {
        margin-bottom: rem(32);
    }
}

.buttonActive {
    background-color: $white;
    color: $black;
}

.contentContainer {
    @include breakpoint(desktopXs) {
        display: flex;
    }
}

.contentWrapper {
    text-align: center;
    max-width: rem(458);
    margin: 0 auto;

    @include breakpoint(desktopXs) {
        text-align: left;
    }
}

.titleWrapper {
    margin-bottom: rem(16);
}

.dataLabel {
    font-family: $barlow-condensed;
    font-size: rem(14);
    letter-spacing: 2.36px;
    margin-bottom: rem(8);
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(16);
    }
}

.data {
    font-size: rem(24);
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(40);
    }

    @include breakpoint(desktopXs) {
        font-size: rem(56);
    }
}
