.contentWrapper {
    text-align: center;

    @include breakpoint(tabletXs) {
        margin-bottom: rem(17);
    }
}

.image {
    @include breakpoint(tabletXs) {
        width: rem(300);
        height: rem(300);
        margin: rem(60) 0 rem(53);
    }
}

.selection {
    margin: rem(26) 0 rem(20);
}

.button {
    color: $purple;
    position: relative;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-right: rem(20);
    }
}

.title {
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(80);
        margin-top: rem(32);
    }
}

.buttonActive {
    @extend .button;
    color: $white;

    &::after {
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        background-color: $white;

        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.dataContainer {
    @include breakpoint(tabletXs) {
        display: flex;
        justify-content: space-evenly;
    }
}

.dataWrapper {
    margin-bottom: rem(32);
    text-align: center;

    @include breakpoint(tabletXs) {
        margin-bottom: 0;
    }
}

.dataLabel {
    font-family: $barlow-condensed;
    font-size: rem(14);
    color: $purple;
    letter-spacing: 2.36px;
}

.data {
    font-family: $bellefair;
    font-size: rem(28);
    margin-top: rem(12);
    color: $white;
    text-transform: uppercase;
}
