.flex_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include breakpoint(desktopXs) {
        flex-direction: row;
        align-items: center;
        flex: 1;
    }
}
