.destination {
    .data-wrapper {
        margin-bottom: rem(32);
        text-align: center;
    }

    .title {
        font-family: $barlow-condensed;
        font-size: rem(14);
        color: $purple;
        letter-spacing: 2.36px;
    }

    .data {
        font-family: $bellefair;
        font-size: rem(28);
        margin-top: rem(12);
        color: $white;
    }

    .content-wrapper {
        text-align: center;
    }

    .selection {
        margin: rem(26) 0 rem(20);
    }

    .button {
        color: $purple;
        position: relative;
        margin-right: rem(20);

        &.active {
            color: $white;

            &::after {
                content: '';
                display: block;
                width: 80%;
                height: 3px;
                background-color: $white;

                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #383b4b;
    margin: rem(32) 0;
}
