.contentContainer {
    max-width: rem(520) !important;
    margin: 0 auto !important;

    @include breakpoint(tabletXs) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.flexWrapper {
    @include breakpoint(desktopXs) {
        flex-direction: row-reverse !important;
    }
}

.imageWrapper {
    @include breakpoint(tabletXs) {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @include breakpoint(desktopXs) {
        position: unset;
        transform: none;
    }
}

.image {
    display: block;
    object-fit: contain;
    margin: 0 auto;

    @include breakpoint(tabletXs) {
        min-width: 65vw;
        height: 100%;
        max-height: rem(520);
    }

    @include breakpoint(desktopXs) {
        min-width: auto;
    }
}

.separator {
    margin-top: 0;

    @include breakpoint(tabletXs) {
        display: none;
    }
}

.dots {
    @include breakpoint(tabletXs) {
        margin: rem(40) 0;
    }

    @include breakpoint(desktopXs) {
        justify-content: flex-start;
    }
}

.dot {
    display: block;
    width: rem(10);
    height: rem(10);
    background-color: $white;
    border-radius: 50%;
    margin-right: rem(16);
    opacity: 17.44%;

    @include breakpoint(desktopXs) {
        width: rem(15);
        height: rem(15);
    }
}

.dotActive {
    opacity: 1;
}

.contentWrapper {
    text-align: center;

    @include breakpoint(desktopXs) {
        text-align: left;
        margin-right: rem(80);
    }
}

.dataWrapper {
    margin: rem(32) 0 rem(16);

    @include breakpoint(tabletXs) {
        margin-top: 0;
    }

    @include breakpoint(desktopXs) {
        margin-bottom: rem(27);
    }
}

.dataLabel {
    font-family: $bellefair;
    font-size: rem(16);
    opacity: 49.51%;
    margin-bottom: rem(8);
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(24);
    }

    @include breakpoint(desktopXs) {
        font-size: rem(32);
        margin-bottom: rem(15);
    }
}

.data {
    font-size: rem(24);
    text-transform: uppercase;

    @include breakpoint(tabletXs) {
        font-size: rem(40);
    }

    @include breakpoint(desktopXs) {
        font-size: rem(58);
    }
}
