.navicon {
    position: relative;
    width: rem(24);
    height: rem(21);
    transition: 0.5s ease-in-out;
    z-index: 1;
    cursor: pointer;

    @include breakpoint(tabletXs) {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(3);
        background: $white;
        border-radius: 9px;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 8px;
        }

        &:nth-child(4) {
            top: 16px;
        }
    }
}

.navicon_open {
    @extend .navicon;

    span {
        &:nth-child(1) {
            top: 8px;
            width: 0%;
            left: 50%;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }

        &:nth-child(4) {
            top: 8px;
            width: 0%;
            left: 50%;
        }
    }
}
